@model HospitaxApp.Models.Hospitujacy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hospitujacy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Protokoly.Kurs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protokoly.Kurs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prowadzacy.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prowadzacy.Imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HospitujacyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
